/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2014, 4:01:30 PM
    Author     : nitin
*/

html,
body {
    
    padding:0;
   
    margin: 10px 100px 100px 10px;
}
#wrapper {
    height:100%;
    width: 100%;
    position:relative;
    
}
#header {
    width: 100%;
    padding:20px;
    background:#E4DCD2;
    height: 10%;
    padding-bottom: 10px;
    display: table;
    vertical-align: central;
    padding-left:20%;
    padding-right: 20%;
    position: relative;
}

#header1 {
    width: 100%;
    padding:25px;
    background:#F7EEE4;
    height: 40px;
    line-height: 20%;
    display: table;
     padding-left:20%;
    padding-right: 20%;
    position: relative;
}
.colhead1 {
    display: table-cell;
    width: 25%;
    font-size: 20px;
    font-weight:bold;
    line-height: 2;
    top: 0px
}
#content {
    height:relative;
    width: 100%;
   
}
#body1 {
    height: 1000px;
    width: 100%;
    
    bottom: 0;
    left: 0;
    border: solid 2px green;
}

#footer0 {
    height: 700px; 
    display: table;
    background:#FFE6CE;
    width:100%;
    padding-left:10px;
    width:100%
    position: relative;
    border:solid red;
}
#footercol {
    width:25%;
    display: table-cell;
    border: solid 2px black;
    float:left;
    height: 100%;
    word-wrap: break-word;
    
}
#lateblog {
    display: table;
    float:left;
    border:solid 1px black;
    width: 100%;
     overflow: hidden;
     padding-bottom: 12px;
    
    
        
}
.lateblog1 {
    display: table-cell;
    width: available;
    height:100%;
    word-break: break-all;
    vertical-align: top;
    font-size: 50px;
    font-size: 250%
}
#footer {
    width:100%;
    position: relative;
    display: table;
    table-layout: fixed;
    font-size: 15px;
    text-align: left;
    height:100px;
    background:#d4d4d4;
    line-height: 1.5;
    border: solid 2px green;

}
.botcol1 {
    padding-bottom: 20px;
    word-wrap: break-word;
    text-align: left;
    vertical-align: top;
}

#socialmedia {
   
}
.img {
    width: 100%;
}


.column {
    display: table-cell;
    float:left;
    width: 19%;
    border: solid 1px blue;
}
.columnHeader {
    display:table-cell;
    width: 20%;
    
}
#footer2 {
    display: table;
    text-align: left;
    height:100px;
    background: black;   
    width:100%;
    border: solid 2px white;
    position: relative;
}
#tabmenu {
     width: 100%;
    background: #CBB893;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 20%;
   
    display: table;
    border: solid 1px red;
    float: left;
    position: relative;
    
}
.searchbox {
    border: solid 2px black;
    width: 10%;
}
.icon-zoom-in
{
  position:relative;
  left:20px;
  top:-8px;
  z-index:999;
  border:solid 2px black;
}
.tabmenucol {
    width: 75%;
    border:solid 4px green;
    float:left;
}
.tabmenuitem {
    width: 10%;
    display:table-cell;
    border: solid 1px black;
    
}
#parent{
    border:none;
    height: 20px;
    width: 100%
}
.child{border:none;
       float:left;
     
       text-align: left;
}
#h3 {
    font-size: 250%;
  
    font-weight: bold;
}

.leftbody {
    background: #EDEDED
}

.leftbody1 {
    background: #2D2D2D;
    color: white;
}
h2 {
    color
}


#tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

#table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray
}

#toplinks td {
    width: 170px;
}
#bottomlinks td {
    height: 1px;
    border: none;
    width: 100%;
    font-size: 100%;
    text-align: left;
    padding:10px;

}
#style1 {
    vertical-align: center;
    display: table-cell;
    font-size: 100%;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 130%;
}
.td {
    display: table-cell;
    vertical-align: inherit;
    font-size: 100%;
    font-family: sans-serif,arial;
    line-height: 130%;

}
.leftpane {
    background: #5FC152;
    font-size: 250%;
    padding:5px 0px 5px;
}
.leftpanecont {
    display: table-cell;
    float: left;
}
bottomlinksraquo {
    height: 1px;
    border: none;

    font-size: 100%;
    text-align: left;
    padding:10px;
}


#topnav {
    height: 20px;
    width: 1190px;
    margin: auto;
    word-spacing: 12px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #d3d3d3;
}



.flag {
    width: 16px;
    height: 11px;
    background:url(flags.png) no-repeat;
    alignment-adjust: right;
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}

.button{
    width: 1px;
    height: 30px;
    background:#5FC152;
    text-align: center;
    font size: : 100px;
    font-family: 'Oratot Std';
    border:2px solid;
    border-radius:5px; 
}
.addtocart {
    background-color: #5FC152;
}
#toppanel {
    height: 20px;
    width: 1190px;
    margin: auto;
    word-spacing: 12px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    font-family:  Georgia;


}

#toppanel td {
    height:20px;
    width: 20%;
    alignment-adjust: 20%;
    word-wrap: break-word;
    font-size: medium;
}
td.serif {
    font-family: "Times New roman", Times, serif;
}

footer.padding {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
}

.margin {
    margin: 10px, 25px, 10px;
}
.image {
    height: 146px;
    widht:146px;
}
p {
    font-size: 200%;
    margin:0px;
}

#botpic {
    width:100%;
    top: 850px;
    display: table;
    position: relative;
    padding: 10px;
    bottom: 0px;
    left: 0px;
}

.botpic1 {
    width:33%;
    display: table-cell;
    background:gainsboro;
    text-align: left;
    float: left;
    word-wrap: break-word;
    float: left;
   
        
}
.botpic11 {
    width: 65%;
    float:left;
    word-wrap: break-word;
    display: table-cell;
    
        
}
.botpic2 {
 
    width: 35%;
    max-height: 100%;
    float: right;
    display: table-cell;
}


#topcontent {
    height:600px;
    width: 100%;
    border: solid 2px greenyellow;
    display: table;
    
}
.topcontcol1 {
    
    height: 100%;
    width: 24%;
    border: solid 1px red;
    float: left;
    display: table-cell;
    padding: 10px;
}
.topcontcol21 {
    height: 70%;
    width: 74%;
    border: solid 1px blueviolet;
    float: left;
    display: table-cell;
    padding: 10px;
  
}

#img_box{
    width:100%;
    height:100%;

}
.resize_horizontal{
    width:100%;
    height: 100%;
}
.resize_vertical{
    height:100%;
}

.topecontcol22 {
    width: 50%;
    height: 165px;
    border: solid 5px black;
    margin-top:  14px;
    display: table-cell;
    
}


